# If you want devault to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install devault.desktop

[Desktop Entry]
Comment=DeVault Core QT wallet
Exec=devault-qt %u
GenericName[en_US]=DeVault Core
GenericName=DeVault Core
Icon=devault-128.png
Name[en_US]=DeVault Core
Name=DeVault Core
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application

