# If you want devault to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install devault.desktop

[Desktop Entry]
Comment=DeVault Core wallet
Exec=devault-qt %u
GenericName[en_US]=Devault Core
GenericName=Devault Core
Icon=devault-128.png
Name[en_US]=Devault Core
Name=DeVault Core wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application

